body, html {
    position: relative;
    background-color:#FFCCFF;
    background-image: linear-gradient(#CC66FF,#FFCCFF);
    background-repeat: no-repeat;
    height: 800px;
    overflow: hidden;
    z-index: -10;
}
.title{
   position: relative;
   top: 180px;
   left: 46%;
   color:#FFCCCC;
   font-size: 60px;
   font-family: 'yellowtail', cursive;
   font-style: normal;
   text-shadow: #FFFFFF 2px 2px 2px;
   z-index: 30;
}
h1 {
  display: block;
  text-align: right;
  color: #FFFFFF;
  font-size: 30px;
  font-family: 'yellowtail';
  text-shadow: #FFCCCC 2px 2px 2px;
  margin-top: 0px;
  margin-bottom: -14px;
}
h2 {
  display: block;
  text-align: left;
  color: #CC66FF;
  font-size: 20px;
  font-family: 'yellowtail';
  text-shadow: #FFCCCC 2px 2px 2px;
  margin-top: -10px;
}
h3 {
  display: block;
  text-align: left;
  color: #CC66FF;
  font-size: 20px;
  text-shadow: #FFCCCC 2px 2px 2px;
}
  li {
    display: block;
    padding: 5px; 
  }
  img {
    border-radius: 10px;
  }

  .link {
    background-color: #FFFFFF;
    padding: 5px 5px;
    display: block;
    width: 10px;
    height: 80px;
    border-radius: 30px;
  }
   .link:hover {
    background-color:#FFCCCC ;
    width: 15px;
    margin-left: -8px;
    transition: 0.2s ease-in-out;
   }
   .link:visited {
     background-color: #FFCCCC;
   }
    .link:active {
      background-color: #FFCCCC;
      margin-left: -10px;
   }
    .container {
      position: relative;
      background-image: url(https://i.imgur.com/I4bDhKH.png);
      background-repeat: no-repeat;
      background-size: 600px 700px;
      width: 600px;
      height: 700px;  
      border: #FFFFFF 1px solid;
      margin-top: -30px;
      margin-left: 500px;
      border:#FFFFFF 3px solid;
      border-radius: 20%;
      z-index:- 20;
    }
     .content {
        position: relative;
        background-color: #FFFFFF;
        width: 580px;
        height: 330px;
        margin-top: 180px;
        padding: 10px;
        opacity: 70%;
        z-index: 0;
    }
     .navi {
        position: absolute;
        top: 139px;
        left: -58px;
        background-color: transparent;
        height: auto;
        width: auto;
        z-index: -1;
      }
     .continfo {
      position: relative;
        width: 295px;
        height: 230px;
        float: right;
        overflow-y: hidden;
        margin-top: -350px;
        padding: 15px;
        color:#000000;
        text-align: justify;
        z-index:  4;
    }
     .contgal {
        position: absolute;
        width: 150px;
        height: 390px;
        float: left;
        margin-top: -50px;
        padding: 15px;
        opacity: 70%;
        border: #FFFFFF 5px solid;
        border-left: transparent;
        border-radius: 20px 20px 20px 20px;
        z-index:  4;
    }
     .galimg {
       position: relative;
       width: 150px;
       height: 380px;
       float: left;
       margin-top: -390px;
       margin-left: -10px;
       z-index:  4;
  }
    .galimg2 {
      position: absolute;
      width: 150px;
      height: 380px;
      margin-top: -345px;
      margin-left: 130px;
      z-index:  4;
  }
    .player {
      position: absolute;
      width: 200px;
      height: 200px;
      overflow: hidden;
      z-index: 2;
  }
